doctype html
html(lang='en')
  head
    link(rel='stylesheet', href='style.css')
  body
    #container
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/three.js/r69/three.min.js')
    script(src='http://threejs.org/examples/js/loaders/OBJLoader.js')
    script(src='bundle.js')
